# See http://help.github.com/ignore-files/ for more about ignoring files.

# personal db and api credentials
dbconfig.js
apiCredentials.js

# misc
.DS_Store
/3_geoprocessing/.DS_Store
/3_geoprocessing/.Rhistory
.env
/node_modules/*
/5_export/censor.sql
/6_refresh/*
npm-debug.log