# See http://help.github.com/ignore-files/ for more about ignoring files.

# personal db and api credentials
/3_geoprocessing/geoclient/dbconfig.js
/3_geoprocessing/geoclient/apiCredentials.js

# misc
.DS_Store
.env
npm-debug.log